header {
  background: rgb(230, 194, 36);
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

h1 {
  display: inline;
}

#logo {
  width: 250px;
  margin: 20px;
}

nav {
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 82px;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav a {
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}