 body {
    text-align: center;
    background: #0e0d0d;
}  

h1 {
    color: white;
}

p {  
    text-align: center;
    color: white;
}

#lema{
    font-size: 25px;
   color: #f50606;

}

h2 {
    color:white;
}

.itens {
    color: white;
    font-style: italic;
}
.benificios{
    background-color: rgb(248, 7, 7);
}

h2 {
    text-align: center;
}